.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-navbar {
    border: 1px solid #6900ff;
    box-shadow: 0px 0px 8px #6900ff;
    background-color: #6900ff;
    border-radius: 8px;
    padding: 0.4rem;
}

.icon {
    font-size: 2rem;
    color: #6900ff;
}

.purple {
    color: #6900ff;
}

